---
const { projectName, projectDescription, imageSrc, projectURL, codeURL } =
	Astro.props;
---

<div class='accordion-panel'>
	<h2 id='panel1-heading'>
		<button
			class='accordion-trigger'
			aria-controls='panel1-content'
			aria-expanded='true'>
			<span class='accordion-title' id='panel1-title'>{projectName}</span>
			<svg aria-hidden='true' class='accordion-icon'>
				<!-- <use xlink:href='#boat'></use> -->
			</svg>
		</button>
	</h2>

	<div
		class='accordion-content'
		id='panel1-content'
		aria-labelledby='panel1-heading'
		aria-hidden='false'
		role='region'>
		<p>
			{projectDescription}
			<a href={projectURL} target='_blank' alt=`${projectName} link`>
				<svg
					xmlns='http://www.w3.org/2000/svg'
					fill='#fff'
					viewBox='0 0 24 24'
					stroke-width='1.5'
					stroke='currentColor'
					class='w-6 h-6'>
					<path
						stroke-linecap='round'
						stroke-linejoin='round'
						d='M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88'
					></path>
				</svg>
				See it live.
			</a>
		</p>
		<img class='accordion-image' src={imageSrc} alt={projectName} />
	</div>
</div>
