---
const { projectName, projectDescription, imageSrc, projectURL, codeURL } =
	Astro.props;
---

<div class='accordion-panel'>
	<h2 id='panel2-title'>
		<button
			class='accordion-trigger'
			aria-expanded='false'
			aria-controls='panel2-content'>
			<span class='accordion-title'>{projectName}</span>

			<svg aria-hidden='true' class='accordion-icon'>
				<!-- <use xlink:href='#anchor'></use> -->
			</svg>
		</button>
	</h2>

	<div
		role='region'
		aria-labelledby='panel2-title'
		aria-hidden='true'
		class='accordion-content'
		id='panel2-content'>
		<p>
			{projectDescription}
			<a href={projectURL} target='_blank' alt=`${projectName} link`>
				<svg
					xmlns='http://www.w3.org/2000/svg'
					fill='none'
					viewBox='0 0 24 24'
					stroke-width='1.5'
					stroke='currentColor'
					class='w-6 h-6'>
					<path
						stroke-linecap='round'
						stroke-linejoin='round'
						d='M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z'
					></path>
					<path
						stroke-linecap='round'
						stroke-linejoin='round'
						d='M15 12a3 3 0 11-6 0 3 3 0 016 0z'></path>
				</svg>
				See it live.
			</a>
		</p>
		<img class='accordion-image' src={imageSrc} alt={projectName} />
	</div>
</div>
