---
import html from './../../public/images/skills/html.png';
import css from './../../public/images/skills/css.png';
import sass from './../../public/images/skills/sass.png';
import javascript from './../../public/images/skills/javascript.png';
import react from './../../public/images/skills/react.png';
import redux from './../../public/images/skills/redux.png';
import node from './../../public/images/skills/node.png';
import express from './../../public/images/skills/express.svg';
import mongodb from './../../public/images/skills/mongodb.svg';
---

<section id='skills' class='skills section section--with-bg'>
	<h2 class='h2-heading'>Skills & Certifications</h2>
	<ul class='skills__list'>
		<li class='skills__item'>
			<!-- <img src={html} /> -->
			HTML
		</li>
		<li class='skills__item'>
			<!-- <img src={css} /> -->
			CSS
		</li>
		<li class='skills__item'>
			<!-- <img src={sass} /> -->
			SASS
		</li>
		<li class='skills__item'>
			<!-- <img src={javascript} /> -->
			JavaScript
		</li>
		<li class='skills__item'>
			<!-- <img src={react} /> -->
			React
		</li>
		<li class='skills__item'>
			<!-- <img src={redux} /> -->
			Redux
		</li>
		<li class='skills__item'>
			<!-- <img src={node} /> -->
			Node
		</li>
		<li class='skills__item'>
			<!-- <img src={express} /> -->
			Express
		</li>
		<li class='skills__item'>MongoDB</li>
	</ul>
</section>
